<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    <title>Document</title>
</head>
<body>
    <p id="test">aaa</p>
    <p id="qqq">aaaa{{ item }}</p>
    <p id="www">qqqqq{{ item }}</p>
    <p id="eee">qqqqq{{ item }}</p>
    <p id="ttt">qqqqq{{ item }}</p>
    <script type="text/javascript" src="../static/js/main.js"></script>
</body>
</html>
